<html lang="en" ng-app="issueTracker">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Issue Tracker</title>
    <meta name="description" content="SoftUni Issue Tracker System">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="bug_tracking_icon_viy_icon.ico">

    <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/bower_components/angular-input-dropdown/inputDropdownStyles.css">
    <link rel="stylesheet" href="app/bower_components/toastr/toastr.css">
    <link rel="stylesheet" href="app/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="app/styles/view-project.css">
    <link rel="stylesheet" href="app/bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="app/app.css">
    <link rel="stylesheet" href="app/styles/dashboard.css">
    <link rel="stylesheet" href="app/styles/profile.css">

    <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="MainController">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand"><i class="fa fa-bug" aria-hidden="true"></i> Issue Tracker</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-if="isAuthenticated">
                    <a href="#/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li ng-if="isAdmin">
                    <a href="#/Projects">All Projects</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if="!isAuthenticated" href="https://softuni.bg/trainings/1335/js-frameworks-march-2016" target="_blank">JS Frameworks с AngularJS март 2016</a></li>
                <li><a ng-if="!isAuthenticated" href="https://softuni.bg" target="_blank">SoftUni</a></li>
                <li><a ng-if="isAuthenticated" href="#/profile/password"><i class="fa fa-user-secret" aria-hidden="true"></i> Welcome {{currentUser.username}}</a></li>
                <li><a ng-if="isAuthenticated" href="#/" ng-click="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            </ul>

        </div>
    </div>
</div>

<div class="container centered">
    <div ng-view class="basic centered"/>
</div>

<div class="container">
    <span us-spinner="{radius:30, width:8, length: 16, color: '#2A9FD6'}" spinner-key="spinner"></span>
</div>

<script src="app/bower_components/jquery/dist/jquery.min.js"></script>
<script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app/bower_components/toastr/toastr.js"></script>
<script src="app/bower_components/angular/angular.js"></script>
<script src="app/bower_components/ngstorage/ngStorage.min.js"></script>
<script src="app/bower_components/angular-route/angular-route.js"></script>
<!--<script src="app/bower_components/angular-cookies/angular-cookies.js"></script>-->
<script src="app/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="app/bower_components/angular-input-dropdown/inputDropdown.js"></script>
<script src="app/bower_components/spin.js/spin.js"></script>
<script src="app/bower_components/angular-spinner/angular-spinner.js"></script>

<script src="app/app.js"></script>
<!--<script src="app/sevices/basic/routeChecks.js"></script>-->
<script src="app/sevices/users/authentication.js"></script>
<script src="app/sevices/users/identity.js"></script>
<script src="app/sevices/projects/projects.js"></script>
<script src="app/sevices/issues/issuesDisplay.js"></script>
<script src="app/sevices/basic/constants.js"></script>
<script src="app/sevices/basic/input-dropdown.js"></script>
<script src="app/sevices/basic/notification.js"></script>

<script src="app/controllers/users/dashboard-controller.js"></script>
<script src="app/controllers/home-controller.js"></script>
<script src="app/controllers/main-controller.js"></script>
<script src="http://code.angularjs.org/1.2.16/angular-resource.js"></script>
<script src="app/controllers/users/admin/project-manager-controller.js"></script>
<script src="app/controllers/users/admin/all-projects-controller.js"></script>
<script src="app/controllers/projects/project-display-controller.js"></script>
<script src="app/controllers/issues/edit-issue-controller.js"></script>
<script src="app/controllers/issues/add-issue-controller.js"></script>
<script src="app/controllers/issues/display-issue-controller.js"></script>
<script src="app/controllers/projects/project-edit-controller.js"></script>
<script src="app/controllers/users/profile-controller.js"></script>
</body>

</html>