<div class="row">
    <div class="col-sm-6">
        <h5><i class="fa fa-chevron-right fa-rotate-90" style="margin-right: 5px"></i> All Projects <span ng-if="isCurrUserAdmin"> <span class="badge"><a href="#/addProject" style="color: white">add new project</a></span></span></h5>
        <hr />
        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>ProjectName</th>
                <th>Lead</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in affilProjects | filter : paginate">
                <td>
                    <a href="#/projects/{{project.Id}}" style="color: white">{{project.Name}}</a>
                    <span ng-if="isCurrUserAdmin">
                        <span class="badge">
                            <a href="#/projects/{{project.Id}}/edit" style="color: white">EDIT</a>
                        </span>
                    </span>
                </td>
                <td>{{project.Lead.Username}}</td>
            </tr>
            </tbody>
        </table>

        <uib-pagination total-items="totalCount" items-per-page='numPerPage' ng-model="currentPage"
                        ng-change="pageChangedProjects(numPerPage, currentPage)" max-size="maxSize" boundary-link-numbers="true" ></uib-pagination>
    </div>

    <div class="col-sm-6">
        <div id="allPr"><i class="fa fa-search" aria-hidden="true"></i> Find particular one:
            <div class="inline">
                <input-dropdown
                        class=""
                        filter-list-method="filterInput(userInput)"
                        selected-item="selectedDropdownItem"
                        default-dropdown-items="availableOptions">
                </input-dropdown>
            </div>
        </div>
        <hr/>
        <div>
            <div ng-show="selectedDropdownItem != null">
                <!--<div class="jumbotron">-->
                    <blockquote>
                        <!--<ul class="breadcrumb">-->
                            <h5>
                                Project Name:   <span id="prName">{{selectedDropdownItem.readableName}}</span>
                            </h5>

                        <!--</ul>-->
                        <div>
                            <a class="btn btn-primary" href="#/projects/{{selectedDropdownItem.projectId}}">View</a>
                            <a class="btn btn-success" ng-if="isCurrUserAdmin" href="#/projects/{{selectedDropdownItem.projectId}}/edit">Edit</a>
                        </div>.
                    </blockquote>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>